/* Navbar */
.navbar {
  /* transition-property: all 0.5s; */
  transition: all 0.5s;
}

/* navbar scroll */

.navbar-scrolledDesktop {
  box-shadow: 0 3px 10px rgba(6, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 0;
}

.navbar-scrolledTablet {
  box-shadow: 0 3px 10px rgba(6, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 0;
}

.navbar-scrolledMobile {
  box-shadow: 0 3px 10px rgba(6, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 0;
}

.navbar-nav a {
  font-size: 16px;
  text-transform: uppercase;
}
.navbar-light .navbar-brand .dropdown-menu .dropdown-item {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #06cfea;
  font-style: oblique;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #1b2fcc;
  font-weight: bold;
}
.navbar-toggler-icon:hover {
  color: #1b2fcc;
}

/* End of Navbar scroll */

/* End of Navbar */

/* Top Carousel*/

/* Top Carousel Picture */

.carousel-caption {
  width: 65%;
}

.carousel-item.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.442); /* Adjust the opacity value */
}
/* End of Top Carousel Picture */

/* Top Carousel heading X-Small	devices */
.xs-mu-slider-title {
  color: #f7f3f3;
  font-family: "Arvo", serif;
  font-size: 30px;
  line-height: 160px;
  font-weight: 400;
}
/* End of Top Carousel heading X-Small	devices*/

/* Top Carousel heading Small Devices */
.sm-mu-slider-title {
  color: #f7f3f3;
  font-family: "Arvo", serif;
  font-size: 30px;
  line-height: 160px;
  font-weight: 400;
}
/* End of Top Carousel heading Small Devices */

/* Top Carousel heading Medium Devices */

.md-mu-slider-title {
  color: #f7f3f3;
  font-family: "Arvo", serif;
  font-size: 30px;
  line-height: 160px;
  font-weight: 400;
}
/* End of Top Carousel heading Medium Devices */

/* Top Carousel heading Large Device (≥992px) */

.mu-slider-small-title {
  font-family: "Arvo", serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 30px;
  color: #110101;
}

/* Top Carousel secondary heading Large Devices (≥992px) */
.slider-title {
  color: #e7dee2;
  font-family: "Arvo", serif;
  text-shadow: 0px 4px 7px rgb(6, 242, 195);
  font-size: 28px;
  line-height: 50px;
  font-weight: 400;

  /* border-right: 4px solid #000; */
  animation: typing 20s steps(54);
  white-space: nowrap;
  overflow: hidden;
}

/* @keyframes cursor {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
} */

@keyframes typing {
  0% {
    width: 0ch;
  } /*Text is hidden*/
  30% {
    width: 54ch;
  } /*The enitre header will be typed out*/
  80% {
    width: 54ch;
  } /*Text stays visible*/
  90% {
    width: 0ch;
  } /*Text is deleted*/
  100% {
    width: 0ch;
  } /*Text stays hidden*/
}

/* End of Top Carousel heading Large Devices (≥992px) */
/* End of Top Carousel secondary heading Large Devices (≥992px) */

/* End of Top Carousel*/

/* Object Fit */
/* Object Fit-Title */
.heading-title {
  /* color: #2ecc38; */
  color: transparent;
  background-image: repeating-radial-gradient(
    farthest-side at 5px 5px,
    #553c9a,
    #ee4b2b,
    #553c9a
  );
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 600;
  font-family: "Verdana", Sans-serif;
  /* text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.29); */
  font-size: 25px;
  margin: 5px 0px;
  padding: 5px 0px;
  text-transform: uppercase;
}

.heading-subtitle {
  color: #f7f7f7;
  font-family: "Verdana", Sans-serif;
  text-shadow: 0px 10px 10px rgba(233, 16, 16, 0.72);
  font-size: 15px;
  margin: 5px 0px;
  padding: 5px 0px;
}
/* End of Object Fit-Title */
/* Object Fit Paragraph */
.paragraph {
  font-family: "Birdseye", sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.75;
  margin: 0 auto 30px;
}

/* text-link */

/* unvisited link */
.link-text:link {
  color: red;
  text-decoration: none;
}

/* visited link */
.link-text:visited {
  color: rgb(11, 250, 67);
}

/* mouse over link */
.link-text:hover {
  color: hotpink;
  font-size: 110%;
}

/* selected link */
.link-text:active {
  color: blue;
}
/* End of Text- */
/*End of Object Fit Paragraph*/

/* Object Fit Image */
#image1 {
  width: 400px;
  height: 400px;
  image-resolution: 300dpi;
}
.text-body-secondary {
  /* Remove the underline */
  text-decoration: none;
}

/* CV link */

#link-new:hover {
  background-color: rgb(22, 114, 211);
  font-weight: bold;
  animation: popBackground 1s ease-in-out;
}
/* End of CV link */
/* End of Image */

/* Object Fit */

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
